{% extends "base.html" %}
{% block title %}CSV Upload and Processing{% endblock %}

{% block content %}
<h1>Upload your CSV file for Electricity Consumption Analysis</h1>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur fugit enim, necessitatibus repellat quia eos deserunt dolores magni maxime aliquid harum aut quis quisquam exercitationem sit laudantium, tempore dignissimos et.</p>
    <br>
    <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv" required>
        <button type="submit">Upload and Process</button>
    </form>
{% endblock %}


